@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* 主题 */
.theme-nord {
  --color-primary: 94 129 172;
  --color-secondary: 129 161 193;
  --color-background: 46 52 64;
  --color-foreground: 216 222 233;
  --color-separator: 76 86 106;
  --color-backgroundBar: 0 0 0;
}

.theme-solarizedLight {
  --color-primary: 211 54 130;
  --color-secondary: 67 155 224;
  --color-background: 253 246 227;
  --color-foreground: 101 123 131;
  --color-separator: 70 116 235;
  --color-backgroundBar: 255 255 255;
}